<mat-toolbar>
    <button mat-raised-button [routerLink]="'/admin/dashboard'" color="primary">Back to Dashboard</button>
</mat-toolbar>

<div id="Project" class="tabcontent">
    <h4>{{pickedCategory}} Templates</h4> 
    <mat-select id="category" [(value)]="pickedCategory" style="width: 300px;" (selectionChange)="fetchCategory()">
        <mat-option *ngFor="let cat of canvasCat" [value]="cat.value">
            {{cat.viewValue}} - Category
        </mat-option>
    </mat-select>
    <button mat-button (click)="openModal(deleteCategoryTemp)" color="primary">Delete all images of This category</button>
    <table mat-table [dataSource]="templates" class="mat-elevation-z8">
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let data;">
                <img [src]="awsurl + data.Key" width="100" height="100">
            </td>
        </ng-container>
        <ng-container matColumnDef="lastModified">
            <th mat-header-cell *matHeaderCellDef> LastModified </th>
            <td mat-cell *matCellDef="let data"> {{ data.LastModified }} </td>
        </ng-container>
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let data">
              <button mat-button (click)="deleteTemplate(data.Key)" color="primary">Delete</button>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<ng-template #deleteCategoryTemp>        
    <section flex-container fxLayout="column" fxLayoutAlign="space-around center">
        <div mat-dialog-title>
            Are you shure want delete all images?
        </div>
        <div mat-dialog-content class="example-container">
            <div class="form-group form-button" style="margin-bottom: 1rem;">
                <button type="button" mat-raised-button color="primary" (click)="deleteCategory()" style="float: left; text-transform: capitalize;">Delete</button>
                <button type="button" mat-raised-button  class="form-submit" style="float: right;" (click)="onTemplateCancel()">Cancel</button>
            </div>
        </div>
    </section>
</ng-template>