.tabcontent{
    padding-top: 1em;
}
table {
    width: 100%;
  }

  th, td {
    vertical-align: top;
    border-right: 1px solid rgba(0,0,0,.12);
    padding-left: 16px !important;
    padding-top: 14px !important;
  }
#Company{
    padding: 1em;
}