<app-header></app-header>
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
                <a routerLink="/sign"class="signup-image-link">{{'login.Create' | translate}}</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">{{'login.Sign' | translate}}</h2>
                <form [formGroup]="form" class="register-form" (submit)="onLogin()">
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="email" formControlName="email" id="your_name" placeholder="Your Email"/>
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" formControlName="password" id="your_pass" placeholder="Password"/>
                    </div>
                    <!-- <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div> -->
                    <div class="form-group form-button">
                        <button type="submit" class="form-submit">{{'login.Sign' | translate}}</button>
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">{{'login.Or' | translate}}</span>
                    <ul class="socials">
                        <li><a style="cursor: pointer;" (click)="signInWithFB()"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a style="cursor: pointer;" (click)="signInWithGoogle()"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>