<mat-toolbar>
    <mat-toolbar-row>
        <span class="example-spacer"></span>
        <button style="float: right;" mat-raised-button (click)="logout()" color="primary">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <mat-card [routerLink]="'/admin/dashboard/users'" style="background-color: #ffa0a0;">
                <mat-card-title>Users List</mat-card-title>
                <mat-card-content>
                  <p>
                    List of users with all details/actions
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="'/admin/dashboard/users'">Show</button>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card [routerLink]="'/admin/dashboard/companies'" style="background-color: #a0ffca;">
                <mat-card-title>Companies List</mat-card-title>
                <mat-card-content>
                  <p>
                    List of all Companies
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="'/admin/dashboard/companies'">Show</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card [routerLink]="'/admin/dashboard/projects'" style="background-color: #ffca83;">
                <mat-card-title>Projects List</mat-card-title>
                <mat-card-content>
                  <p>
                    List of all Projects
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="'/admin/dashboard/projects'">Show</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card [routerLink]="'/admin/dashboard/projects'" style="background-color: #ffca33;">
                <mat-card-title>Template List</mat-card-title>
                <mat-card-content>
                  <p>
                    List of all Templates
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="'/admin/dashboard/templates'">Show</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="background-color: #ffca53;">
                <mat-card-title>Add Template</mat-card-title>
                <mat-card-content>
                  <p>
                    Add Template
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="openModal(addTemplate)">Add+</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card (click)="openModal(addAdmin)" style="background-color: #4fc8dd;">
                <mat-card-title>Add ADMIN</mat-card-title>
                <mat-card-content>
                  <p>
                    Add Admin account
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="openModal(addAdmin)">Add+</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <ng-template #addAdmin>        
        <section flex-container fxLayout="column" fxLayoutAlign="space-around center">
            <div mat-dialog-title>
                Add Admin
            </div>
            <div mat-dialog-content class="example-container">
                <form [formGroup]="form" (submit)="addAdminAccount()">
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput formControlName="name" id="name" placeholder="Name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" id="email" placeholder=" Email"/>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password" id="your_pass" placeholder="Password"/>
                    </mat-form-field>
                    <div class="form-group form-button">
                        <button type="submit" mat-raised-button color="primary" class="form-submit" style="float: left; text-transform: capitalize;">Save</button>
                        <button type="button" mat-raised-button  class="form-submit" style="float: right;" (click)="dialogRef.close(true)">Cancel</button>
                    </div>
                </form>
            </div>
        </section>
   </ng-template>
   <ng-template #addTemplate>        
    <section flex-container fxLayout="column" fxLayoutAlign="space-around center">
        <div mat-dialog-title>
            Add Template
        </div>
        <div mat-dialog-content class="example-container">
            <mat-form-field class="example-full-width">
                <mat-label>Category of Design</mat-label>
                <mat-select id="category" [(value)]="selectedCategory">
                    <mat-option *ngFor="let cat of canvasCat" [value]="cat.value">
                        {{cat.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <input #fileInput hidden="true" type="file" accept="image/*"  (change)="onImagePicked($event)" />
            <button type="button" mat-raised-button color="primary" style="margin-bottom: 1em;" (click)="fileInput.click()">{{uploadedImageName ? uploadedImageName : 'Upload Image'}}</button>
            <div class="form-group form-button">
                <button type="button" mat-raised-button color="primary" [disabled]="!selectedCategory || !uploadedImageName" (click)="addNewTemplate()" style="float: left; text-transform: capitalize;">Save</button>
                <button type="button" mat-raised-button  class="form-submit" style="float: right;" (click)="onTemplateCancel()">Cancel</button>
            </div>
        </div>
    </section>
</ng-template>
</div>