<mat-toolbar>
    <button mat-raised-button [routerLink]="'/admin/dashboard'" color="primary">Back to Dashboard</button>
</mat-toolbar>

<div id="Project" class="tabcontent">
    <h4>Projects List</h4>
    <mat-form-field>
        <mat-label>Search within Projects</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. any" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="ownerName">
            <th mat-header-cell *matHeaderCellDef> Creator Name </th>
            <td mat-cell *matCellDef="let data;">
             {{ data.ownerName }} </td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="ownerEmail">
            <th mat-header-cell *matHeaderCellDef> Creator Email </th>
            <td mat-cell *matCellDef="let data;">
             {{ data.ownerEmail }} </td>
        </ng-container>
        <!-- PROJECT Data Started -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Project Name </th>
            <td mat-cell *matCellDef="let data"> {{ data.name }} </td>
        </ng-container>
        <ng-container matColumnDef="invitees">
            <th mat-header-cell *matHeaderCellDef> Invitees(Email) </th>
            <td mat-cell *matCellDef="let data" (click)="openModal(invitedMail,data.invitees)"> 
                    <span>{{ data.invitees.length > 0 ? data.invitees[0] + ' ...' : 'There is no collabrator' }}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> Project Created At </th>
            <td mat-cell *matCellDef="let data"> {{ data.createdAt | date:'short' }} </td>
        </ng-container>
        <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef> Project Updated At </th>
            <td mat-cell *matCellDef="let data"> {{ data.updatedAt | date:'short' }} </td>
        </ng-container>
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
              <button mat-button (click)="deleteProject(row)" color="primary">Delete</button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>

  <ng-template #invitedMail>        
    <section flex-container fxLayout="column" fxLayoutAlign="space-around center">
        <h4 *ngFor="let email of emails;">
            {{email}}
        </h4>
        <div mat-dialog-content class="example-container">
            <div class="form-group form-button" style="margin-bottom: 1rem;">
                <button type="button" mat-raised-button  color="primary" style="float: right;" (click)="onTemplateCancel()">Close</button>
            </div>
        </div>
    </section>
</ng-template>