.work {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.work img {
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.foo {
    /* float: right; */
    width: 20px;
    height: 20px;
    margin: 5px;
    /* border: 1px solid rgba(0, 0, 0, .2); */
    /* outline: 5px solid black; */
  }
  
  .black {
    background: black;
  }
  
  .red {
    background: red;
  }
  
  .yellow {
    background: yellow;
  }

  header {
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 70px;
  }
  .left_area {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  .left_area span {
    color: #1DC4E7
  }
  .logout_btn {
    padding: 5px;
    background: firebrick;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;

  }
  .user_btn {
    padding: 5px;
    background: #1983D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;
  }
  .save_btn {
    padding: 10px;
    background: #1983D3;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;
  }

  .logout_btn:hover {
    background: indianred;
  }

  .sidebar {
    background: #2f323A;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
  }
  .sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
.content {
  margin-left: 250px;
  background: #dbdbdb;
  background-position: center;
  height: 100vh;
}
.content #container {
  border: 1px solid black; 
  margin-left: 20px; 
  width: 900px;
  height: 500px;
  position: relative;
  top: 15%;
  /* left: 5%; */
  /* margin-top: 50px; */
  /* background-image: url(../../assets/images/paygain.png); */
}

.content.eraser-cursor {
  cursor: grabbing;
}
.content.line-cursor {
  cursor: crosshair;
}
.eraser {
  filter:invert(1);
}
.eraser:hover {
  filter:invert(0);
}
mat-form-field {
  background-color: beige;
}
