<!-- <app-header></app-header> -->
<header>
    <!-- <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
    </label> -->
    <div class="left_area">
        <h3>{{'design.Design' | translate}} <span>{{'design.Area' | translate}}</span> </h3>
    </div>
    <div class="right_area">
        <!-- <a (click)="logout()" class="logout_btn">{{'design.logout' | translate}}</a> -->
        <a *ngIf="addFlag && user && user.role !== 'invitedUser'" (click)="addUser()" class="user_btn">{{'design.Add' | translate}}</a>
    </div>
</header>

<div class="sidebar">
    <div class="d-flex flex-column align-items-center">
        <img [src]="image" class="profile_image" alt="">
        <h4>{{name}}</h4>
    </div>
    <div class="d-flex flex-row justify-content-around">
        <input type="color" id="body" name="body" (change)="onColorInput($event)" value="black" width="100%">
    </div>
    <div class="d-flex flex-row justify-content-around mt-3">
        <img class="eraser" [style.filter]="invertValue('line')" src="assets/images/pencil-icon.png" width="30" height="30" (click)='setSelection("line"); addShape("line"); erase = false' alt="">
        <img class="eraser" [style.filter]="invertValue('text')" src="assets/images/keyboard.png" width="30" height="30" (click)='setSelection("text"); addShape("text"); erase = false' alt="">
        <img class="eraser" src="assets/images/undo-icon.png" width="30" height="30" (click)='clearSelection(); setSelection("undo"); undo()' alt="">
        <img class="" [style.filter]="invertValue('erase')" (click)='clearSelection(); setSelection("erase"); erase = true' src="assets/images/eraser-icon.png" width="30" height="30" alt="">
    </div>
    <div class="mt-3 px-2" *ngIf="selectedButton['text']">
        <!-- <mat-slider></mat-slider> -->
        <form class="example-container" [formGroup]="options">          
            <mat-form-field appearance="fill" [color]="colorControl.value">
              <mat-label>{{'design.Font' | translate}}</mat-label>
              <input matInput type="number" placeholder="Ex. 12" [formControl]="fontSizeControl" min="10">
              <span matSuffix>px</span>
              <mat-error *ngIf="fontSizeControl.invalid">Min size: 10px</mat-error>
            </mat-form-field>
          </form>
          <p style="color: beige;">Hit Enter When Done Typing</p>
    </div>
    <div class="mt-5 ml-5">
        <a (click)="saveToDb()" class="save_btn" style="cursor: pointer;">{{'design.Save' | translate}}</a>
        <a (click)="openModal(quitFromEdit)" style="margin-left: 15px; cursor: pointer;" class="save_btn">Exit</a>
    </div>
</div>
<div class="content" [ngClass]="{'eraser-cursor': selectedButton.erase, 'line-cursor': selectedButton.line}">
    <div id="container" [style.background-image]="backgroundImage()" [style.background-size]="'cover'"></div>
</div>

<ng-template #quitFromEdit>        
    <section flex-container fxLayout="column" fxLayoutAlign="space-around center">
        <div mat-dialog-title>
            Are you want to Exit?
        </div>
        <div mat-dialog-content class="example-container">
            <div class="form-group form-button" style="margin-bottom: 1rem;">
                <button type="button" mat-raised-button color="primary" (click)="quit()" style="float: left; text-transform: capitalize;">Quit</button>
                <button type="button" mat-raised-button  class="form-submit" style="float: right;" (click)="onTemplateCancel()">Cancel</button>
            </div>
        </div>
    </section>
</ng-template>